body {
			background: linear-gradient(white,#eeeff4,#D3D8E8) ;
			color: #1d2129;
			direction: ltr;
			line-height: 1.34;
			margin: 0;
			padding: 0;
		 }
	#contentCurve {
					border-bottom: 1px solid #dddfe2;
					font-size: 1px;
					height: 8px;
					margin-bottom: 8px;
					width:980px;
					margin-left:268px;
				  }
	.left {
		   float:left;
           width:45%;
           padding:37.5px;
           font-family: 'Lucida Grande',sans-serif;
           background-color:#e5e5e5;
           margin-top:-55px;
		   height:63px;
		   background-color:rgb(59,89,152);  /*imp blue*/
          } 
   .mainleft {
           float:left;
           width:50%;
           padding:20px 0px 0px 12px;
           text-align:center;
           margin-top:0px;
		   height:60px;
	       font-weight: bold;
           line-height: 29px;
           word-spacing: -1px;
          }   
    .fam{
		 font-family:Helvetica;
		} 
    .right {
            float:right;
            width:50%;
            padding:15px;
            text-align:left;
            margin-top:0px;
           }
     .mainright{
				float:right;
				width:45%;
				padding:15px;
				text-align:left;
				margin-top:8px;
			   } 
	footer { 
            position:absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height:67px;
			background-color:white;
			font-size:14px;
			display:inline;
           }   
    #lang a{
			 padding:0px 0px 0px 5px;
			 color: #365899;
		     font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
		     font-size:12px;
		   } 
	#links a{
			 padding:0px 0px 0px 16px;
			 color: #365899;
			 font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
			 font-size:12px;
			} 
	#links {background-color:white;}
	.logo{
			background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yC/r/bDnaMBwYoL9.png);
			background-size: 500px 104px;
			background-repeat: no-repeat;
			display: inline-block;
			height: 8px;
			width: 16px;
			height: 16px;
			background-position: -18px -84px;
		}
	a{ text-decoration:none; }
	
    .sizes{
	        font-size:12px;
			padding: 0px 4px 0px 74px;
			margin-top:10px;
			margin-left:2px;
	      }
    .fblogo{ 
			 background-position: 0 0;
			 background-size: 100% 100%; 
			 margin-top: 21px; 
			 width: 168px;
             height: 32px;
			 padding:27px 0px 0px 232px;
			 cursor:pointer;
			}
	#sub   {
			 font-family: "Freight Sans Bold", Helvetica, Arial, sans-serif; 
			 font-weight:bold ;
			 width:150px;
			 height:40px;
			 background: linear-gradient(#67ae55, #578843); 		
			 box-shadow: inset 0 1px 1px #a4e388;
			 border-color: #3b6e22 #3b6e22 #2c5115;
			 border: 1px solid #3b6e22;
			 border-radius: 5px;
			 color: #fff;
			 cursor: pointer;
			 display: inline-block;
			 font-size:18px;
			 position: relative;
			 text-shadow: 0 1px 2px rgba(0,0,0,.5);
			 min-width: 194px;
			 padding: 7px 20px;
			 text-align: center;
			}
	.submit {
		 margin-top:10px;
	font-size:12px;}
	#newpg {
			border-top: 1px solid #dddfe2;
			color: #666;
			font-size: 13px;
			font-weight: bold;
			margin-top: 10px;
			padding-top: 15px;
			font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
			margin-left:0px;
		   }
    #tc{
		color: #777;
		font-size: 11px;
		width: 316px;
		font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
		margin-top:-5px;
	   }
	#newacc{
			font-size: 18px;
			padding: 6.5px 10px;
			border-color: #bdc7d8;
			border-radius: 5px;
			position: relative;
			border: 1px solid #bdc7d8;
			background-color: white;
			width:399px;
			line-height: 1.34;
			display: inline-block;
			text-align: start;
		   }
    select{
			font-size: 13px;
			height: 30px;
			padding: 5px;
			background-color: #fff;
			color: #1d2129;
			border: 1px solid #bdc7d8;
			padding: 2px;
		  }
	#login{
			color:white;
			background-color:#4267b2;
			border:none;
			padding: 4px 4px 3px;
			text-decoration: none;
			margin: 3.5px 5px 5px 5px;
			cursor: pointer;
			font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
			font-weight:bold;
			font-size:12px;
			width:49px;
			height:23px;
			border: 1px solid #4b4f56;
			text-align:center;
		  }
	
	 .fb1 { 
			display:inline-block;
			vertical-align: middle;
			margin-top:-48px;
			float:right;
			padding:0px 320px 0px 0px;
		  }
	.why {
			font-size: 11px;
			color: #3b5998;
			width:150px;
			margin-left:10px;
			cursor:pointer;
		 }
	.h:hover {
				text-decoration: underline;
			 }
	.tooltip {
				position: relative;
				display: inline-block;
				padding:20px 304px 0px 0px;
			 }

	.tooltip .tooltiptext {
							visibility: hidden;
							padding:15px;
							width: 275px;
							background-color: white;
							color:black;
							text-align:left;
							border-radius: 6px;
							

							/* Position the tooltip */
							position: absolute;
							z-index: 1;
						  }

	.tooltip:hover .tooltiptext {
							    	visibility: visible;
								}
	#tp{
		background-color:#365899;
		color:white;
		float:right;
		border:none;
		text-decoration: none;
	   }
	button {
			display: inline-block;
			padding: 0;
			margin: 0;
			vertical-align: top;
			height: 20px;
			width: 24px;
			margin-left:4px;
		   }

	#close-image img {
						display: block;
						height: 30px;  
						width: 30px;
						margin:-7px 0px 0px -5px;
					 }
					 
	#bdaysize {
				height: 30px;
				padding: 5px;
				margin-left:-5px;
				text-align:right;
			  }

